/* Colores para los bloques animados */
$firststripcolor: #244F75;
$secondstripcolor: #60BFBF;
$thirdstripcolor: #8C4B7E;
$fourthstripcolor: #F8BB44;
$fifthstripcolor: #F24B4B;

/* Color para el background animado de .strip_content:before y el H1 */
$colorh1background: white;