/* Mixin de posicionamiento 1 */
@mixin posicionamiento1 {
    overflow: hidden; 
	text-align: center; 
	display: flex; 
}

/* Mixin de posicionamiento 2 */
@mixin posicionamiento2 {
    display: flex; 
	align-items: center; 
	justify-content: center;
	position: absolute;
}

/* Mixin para vendor prefix transform-origin */
@mixin transform-origin ($origin) {
    -webkit-transform-origin: $origin;
    transform-origin: $origin;    
}

/* Mixin para vendor prefix transform */
@mixin transform ($property) {
    -webkit-transform: $property;
    transform: $property;
}

/* Mixin para animaciones, con name, duration y timing-function */
@mixin animation ($name, $duration) {
    animation-name: $name;
    animation-duration: $duration;
    animation-timing-function: ease-out;    
}