/* Variables para la dirección de aparición de los bloques animados (desde dónde aparecen) */
$fromleft: translate3d(-100%, 0, 0);
$frombottom: translate3d(0, 100%, 0);
$fromtop: translate3d(0, -100%, 0);
$fromright: translate3d(100%, 0, 0);